<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.diary"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="8" />
    <!-- 지도를 위한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--  위치 좌표를 위한 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />    
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    
	<!-- 알람 설정을 위한 퍼미션 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
	<!-- 녹음 설정을 위한 퍼미션 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>	    
	<!-- sdcard에 접근하기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>	    
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />    	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:label="@string/app_name"
            android:name=".IntroActivity" android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
	      	    <category android:name="android.intent.category.LAUNCHER" />                        
            </intent-filter>
        </activity>
        <!--  메인 엑티비티 -->
        <activity android:windowSoftInputMode="stateAlwaysHidden" android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name="MyDiaryActivity"></activity>        
        <!--  메모 엑티비티 -->
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name="MemoActivity"></activity>
        <!--  메모 리스트 -->
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name="MemoListActivity"></activity>
        <!-- 전체 메모 리스트 -->
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name="MemoAllListActivity"></activity>
        <!--  설정 엑티비티 -->
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name="SettingActivity"></activity>
        <!--  스케쥴 엑티비티 -->
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar"  android:name=".ScheduleListActivity"></activity>
        <!--  날씨 엑티비티  -->
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name=".WeatherActivity"></activity>
        <!--  녹음 엑티비티 -->
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name=".RecordListActivity"></activity>        
		<!--  map -->        
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name=".map.MapActivity"></activity>
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name=".LoggingListActivity"></activity>
		<activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name=".map.RegMapActivity"></activity>
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name=".LoginActivity"></activity>
		<activity android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" android:name=".JoinActivity"></activity>
        <!--  메인 엑티비티 -->
        <activity android:screenOrientation="portrait"  android:theme="@android:style/Theme.NoTitleBar" android:name="UserListActivity"></activity> 		

        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".LoggingReceiver" />
        <service android:name=".AlarmService"></service>  
        <!--  부팅시 처리할 리시버 -->   
		<receiver android:name=".BootBroadCastReceiver">
	        <intent-filter>
	          <action android:name="android.intent.action.BOOT_COMPLETED" />
	          <category android:name="android.intent.category.LAUNCHER" />          
	        </intent-filter>
        </receiver>
    </application>

</manifest>